<html>
<head>
    <title>Тестовое задание</title>
</head>
<body>
<button><a href="/"> Вернуться на главную</a></button>
<form method="post" action="/deleted">
    <p>Номер товара <input name="id" type="number"> </p>
    <button type="submit">Удалить</button>
</form>

{{error}}

</body>

</html>